createdAt: "2020-02-14T09:20:55.812Z"
updatedAt: "2020-04-26T20:57:16.185Z"
type: "MARKDOWN_NOTE"
folder: "eccad2851384cb246c65"
title: "install"
tags: []
content: '''
  ## install
  
  >**npm**
  >
  
  ```
  react redux & redux
  npm install --save redux react-redux redux-thunk
  ```
  
  ![ef495f44.png](:storage\\016e03e3-2b63-4853-b75d-3adddcf77a43\\ef495f44.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
