createdAt: "2020-02-14T09:20:55.812Z"
updatedAt: "2020-02-14T09:21:18.127Z"
type: "MARKDOWN_NOTE"
folder: "eccad2851384cb246c65"
title: "install"
tags: []
content: '''
  install
  
  ```
  react redux & redux
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
