createdAt: "2020-03-26T09:15:07.479Z"
updatedAt: "2020-03-26T09:15:13.155Z"
type: "MARKDOWN_NOTE"
folder: "c4686cbedf78bed63642"
title: "Head"
tags: []
content: '''
  ## Head
  
  ```js
  import React, { Component } from 'react'
  import { Text, View, Image } from 'react-native'
  import {
      Menu,
      MenuOptions,
      MenuOption,
      MenuTrigger,
  } from 'react-native-popup-menu';
  import * as RootNavigation from '../RootNavigate'
  
  export default class HeaderNavbar extends Component {
      render() {
          return (
              <View >
                  <Menu>
                      <MenuTrigger text='Select action' />
                      <MenuOptions>
                          <MenuOption onSelect={() => RootNavigation.navigate('Other')} text="Home" />
                          <MenuOption onSelect={() => alert(`Delete`)} >
                              <Text style={{ color: 'red' }}>Delete</Text>
                          </MenuOption>
                          <MenuOption onSelect={() => alert(`Not called`)} disabled={true} text='Disabled' />
                      </MenuOptions>
                  </Menu>
                  <Image
                      style={{ width: 20, height: 20 }}
                      source={require('./ic_send.png')}
                  />
              </View>
          )
      }
  }
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
