createdAt: "2020-02-19T07:33:57.865Z"
updatedAt: "2020-02-19T08:19:28.364Z"
type: "MARKDOWN_NOTE"
folder: "c31af992c900a03da312"
title: "Camera"
tags: []
content: '''
  ## Camera
  
  ```
  npm install react-native-camera --save
  ```
  
  >**Biar Masuk Gallery**
  >
  ```
  npm install @react-native-community/cameraroll --save
  ```
  
  >**Permission Untuk Stroage**
  >
  ```js
  requestStoragePermission = async () =>{
      await PermissionsAndroid.request(
          PermissionsAndroid.PERMISSIONS.WRITE_EXTERNAL_STORAGE,
          {
            title: 'Nyong butuh persetujuanmu',
            message:
              'Setuju apa setuju ' +
              'Kudu setuju',
            buttonNeutral: 'Ask Me Later',
            buttonNegative: 'Cancel',
            buttonPositive: 'OK',
          },
        );
  }
  ```
  >**Ambil kamera**
  >
  
  ```js
  takePicture = async () => {
      try {
          const data = await this.camera.takePictureAsync();
          this.setState({ path: data.uri });
          CameraRoll.saveToCameraRoll(data.uri)
          console.log('Path to image: ' + data.uri);
      } catch (err) {
          console.log('err: ', err);
      }
  };
  ```
  
  >**Camera dan permission**
  >
  ```js
  renderCamera() {
      return (
          <Camera
              ref={(cam) => {
                  this.camera = cam;
              }}
              style={styles.preview}
              flashMode={Camera.Constants.FlashMode.off}
              androidCameraPermissionOptions={{
                  title: 'Permission to use camera',
                  message: 'We need your permission to use your camera',
                  buttonPositive: 'Ok',
                  buttonNegative: 'Cancel',
              }}
              androidRecordAudioPermissionOptions={{
                  title: 'Permission to use audio recording',
                  message: 'We need your permission to use your audio',
                  buttonPositive: 'Ok',
                  buttonNegative: 'Cancel',
              }}
              onGoogleVisionBarcodesDetected={({ barcodes }) => {
                  console.log(barcodes);
              }}
          >
              <TouchableHighlight
                  style={styles.capture}
                  onPress={this.takePicture.bind(this)}
                  underlayColor="rgba(255, 255, 255, 0.5)"
              >
                  <View />
              </TouchableHighlight>
          </Camera>
      );
  }
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
