createdAt: "2020-04-03T08:22:55.659Z"
updatedAt: "2020-04-03T08:23:16.840Z"
type: "MARKDOWN_NOTE"
folder: "6c6b706546432d7992e8"
title: "CHART BAR VERTICAL AND HORIZONTAL WITH NUMBER"
tags: []
content: '''
  ## CHART BAR VERTICAL AND HORIZONTAL WITH NUMBER
  ```js
  import React, { Component } from 'react'
  import { BarChart, XAxis, YAxis } from 'react-native-svg-charts'
  import { View, Dimensions } from 'react-native'
  import * as scale from 'd3-scale'
  import Svg, { Line } from 'react-native-svg'
  import { Text } from 'react-native-svg'
  
  export default class StackOne extends Component {
      render() {
  
          const dataPerpajakan = [752, 684, 765, 846, 854, 909]
          const dataPnbp = [530, 212, 223, 123, 321, 123]
          const dataVerticalDash = [0, 1, 2, 3, 4, 5, 6]
          const tahun = [2015, 2016, 2017, 2018, 2019, 2020]
  
          const CUT_OFF = 1000
          const LabelsVertical = ({ x, y, bandwidth, data }) => (
              data.map((value, index) => (
                  <Text
                      key={index}
                      x={x(index) + (bandwidth / 2)}
                      y={value < CUT_OFF ? y(value) - 10 : y(value) + 15}
                      fontSize={8}
                      fill={value >= CUT_OFF ? 'white' : 'black'}
                      alignmentBaseline={'middle'}
                      textAnchor={'middle'}
                  >
                      {value}
                  </Text>
              ))
          )
  
  
          // Horizontal
          const data = [50, 10, 40, 95, 85]
          const dataDepan = [35, 67, 87, 67, 56]
          const dataDash = [
              {
                  nilai: 50,
                  nilai2: 35,
                  label: 'Pelayanan Umum',
                  dash: '-'
              },
              {
                  nilai: 10,
                  nilai2: 67,
                  label: 'Ekonomi',
                  dash: '-'
              },
              {
                  nilai: 40,
                  nilai2: 87,
                  label: 'Perlindungan Sosial',
                  dash: '-'
              },
              {
                  nilai: 95,
                  nilai2: 67,
                  label: 'Ketertiban dan Keamanan',
                  dash: '-'
              },
              {
                  nilai: 85,
                  nilai2: 56,
                  label: 'Pendidikan',
                  dash: '-'
              }, {
                  nilai: 85,
                  nilai2: 56,
                  label: 'Pendidikan',
                  dash: '-'
              },
          ]
  
          // const dataDash = [1, 2, 3, 4, 5, 6, 7]
  
          const data2 = [
              {
                  nilai: 50,
                  nilai2: 35,
                  label: '2020',
                  dash: '-'
              },
              {
                  nilai: 10,
                  nilai2: 67,
                  label: '2019',
                  dash: '-'
              },
              {
                  nilai: 40,
                  nilai2: 87,
                  label: '2018',
                  dash: '-'
              },
              {
                  nilai: 95,
                  nilai2: 67,
                  label: '2017',
                  dash: '-'
              },
              {
                  nilai: 85,
                  nilai2: 56,
                  label: '2016',
                  dash: '-'
              },
          ]
  
          const CUT_OFF_HORIZONTAL = 50
          const Labels = ({ x, y, bandwidth, data }) => (
              data.map((value, index) =>
                  (
                      <Text
                          key={index}
                          x={value > CUT_OFF_HORIZONTAL ? x(value) - 30 : x(value) + 10}
                          y={y(index) + (bandwidth / 2)}
                          fontSize={8}
                          fill={value > CUT_OFF ? 'white' : 'black'}
                          alignmentBaseline={'middle'}
                      >
                          {data2[index].nilai}
                      </Text>
                  )
              )
          )
  
          const LabelsDepan = ({ x, y, bandwidth, data }) => (
              data.map((value, index) =>
                  (
                      <Text
                          key={index}
                          x={value > CUT_OFF ? x(value) - 30 : x(value) + 10}
                          y={y(index) + (bandwidth / 2)}
                          fontSize={8}
                          fill={value > CUT_OFF ? 'white' : 'black'}
                          alignmentBaseline={'middle'}
                      >
                          {data2[index].nilai2}
                      </Text>
                  )
              )
          )
  
          return (
              <View>
                  <View style={{ height: 200, padding: 20, backgroundColor: '#dedede', margin: 20, borderWidth: 1 }}>
                      <View>
                          <BarChart
                              style={{ width: 340, height: 150 }}
                              data={dataPerpajakan}
                              gridMin={0}
                              gridMax={1500}
                              contentInset={{ left: 20, right: 40 }}
                              svg={{ fill: 'rgb(134, 65, 244)' }}
                              spacingInner={0.8}
                          >
                              <LabelsVertical />
                          </BarChart>
  
                          <BarChart
                              style={{ left: 10, width: 340, height: 150, position: 'absolute' }}
                              data={dataPnbp}
                              gridMin={0}
                              gridMax={1500}
                              contentInset={{ left: 20, right: 40 }}
                              svg={{ fill: 'rgb(232, 65, 231)' }}
                              spacingInner={0.8}
                          >
                              <LabelsVertical />
                          </BarChart>
                      </View>
                      <View>
                          <View style={{ position: 'absolute' }}>
                              <Svg height="1" width={Dimensions.get('screen').width - 102} left={10}>
                                  <Line x1="0" y1="0" x2={Dimensions.get('screen').width} y2="0" stroke="black" strokeWidth="2" />
                              </Svg>
                          </View>
                          <XAxis
                              data={dataVerticalDash}
                              contentInset={{ left: 10, right: 10 }}
                              scale={scale.scaleTime}
                              svg={{ fill: 'rgba(0, 0, 0, 0.8)', fontSize: 10 }}
                              formatLabel={(value, index) => index}
                              labelStyle={{ color: 'black' }}
                              formatLabel={(_, index) => '|'}
                          />
                          <XAxis
                              style={{ marginTop: 10, bottom: 10 }}
                              data={tahun}
                              contentInset={{ right: 0, left: 10, right: 10 }}
                              scale={scale.scaleBand}
                              svg={{ fill: 'rgba(0, 0, 0, 0.8)', fontSize: 8 }}
                              formatLabel={(value, index) => index}
                              labelStyle={{ color: 'black' }}
                              formatLabel={(_, index) => ' ' + tahun[index]}
                          />
  
                      </View>
                  </View>
  
                  <View style={{ flexDirection: 'row', height: 235, margin: 20, backgroundColor: '#e3e1e1', borderWidth: 1 }}>
                      <View style={{ alignItems: 'flex-start', justifyContent: 'flex-start' }}>
                          <YAxis
                              data={data2}
                              style={{ height: 230, justifyContent: 'flex-start', alignItems: 'flex-start', left: 5 }}
                              yAccessor={({ index }) => index}
                              scale={scale.scaleBand}
                              contentInset={{ top: 10, bottom: 10, right: 0 }}
                              svg={{ fill: 'rgba(0, 0, 0, 0.8)', alignmentBaseline: 'bottom', fontSize: 8 }}
                              formatLabel={(_, index) => ' ' + data2[index].label}
                          >
                          </YAxis>
                      </View>
                      <YAxis
                          data={dataDash}
                          style={{ height: 230, width: 34 }}
                          yAccessor={({ index }) => index}
                          scale={scale.scaleTime}
                          contentInset={{ top: 11, bottom: 10.5 }}
                          spacing={0.1}
                          svg={{ fill: 'rgba(0, 0, 0, 0.8)' }}
                          formatLabel={(_, index) => dataDash[index].dash}
                      >
                      </YAxis>
                      <Svg height="220" width="1" left={-15}>
                          <Line x1="0" y1="10" x2="0" y2="230" stroke="black" strokeWidth="2" />
                      </Svg>
                      <View style={{ position: 'absolute', left: 34, right: 10, top: 10, height: 200 }}>
                          <BarChart
                              style={{ flex: 1, paddingLeft: 8 }}
                              data={data}
                              spacingInner={0.7}
                              horizontal={true}
                              svg={{ fill: '#d46511' }}
                              contentInset={{ top: 10, bottom: 10 }}
                              spacing={0.2}
                              gridMin={0}
                          >
                              <Labels />
                          </BarChart>
                      </View>
                      <View style={{ position: 'absolute', left: 34, right: 10, top: 22.5, height: 200 }}>
                          <BarChart
                              style={{ flex: 1, paddingLeft: 8 }}
                              data={dataDepan}
                              spacingInner={0.7}
                              horizontal={true}
                              svg={{ fill: '#0713ba' }}
                              contentInset={{ top: 10, bottom: 10 }}
                              spacing={0.2}
                              gridMin={0}
                          >
                              <LabelsDepan />
                          </BarChart>
                      </View>
  
                  </View>
              </View>
          )
      }
  }
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
