createdAt: "2020-02-13T15:58:35.864Z"
updatedAt: "2020-02-13T15:59:35.679Z"
type: "MARKDOWN_NOTE"
folder: "a5f2ebc888dff0082c06"
title: "Error Login With Social Akun ex: google"
tags: []
content: '''
  ## Error Login With Social Akun ex: google
  
  >**Tambahkan Support Email di Firebase**
  >
  ![41d97035.png](:storage\\334ab91c-ce32-4768-94a0-27f577d6c126\\41d97035.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
