createdAt: "2020-04-03T01:51:35.165Z"
updatedAt: "2020-04-16T04:46:22.743Z"
type: "MARKDOWN_NOTE"
folder: "c31af992c900a03da312"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
