createdAt: "2020-05-31T08:24:50.415Z"
updatedAt: "2020-12-08T17:23:09.663Z"
type: "MARKDOWN_NOTE"
folder: "c31af992c900a03da312"
title: "Utils"
tags: []
content: '''
  # Utils
  
  ## Membuat dot tiap tiga digit
  ```js
  export const currencyFormatDE = (num) => {
      return (
          num
              .toFixed(0) // always two decimal digits
              .replace('.', ',') // replace decimal point character with ,
              .replace(/(\\d)(?=(\\d{3})+(?!\\d))/g, '$1.')
      ) // use . as a separator
  }
  
  ```
  ---
  ## Convert JSON string menjadi number
  ```js
  belanjaBarang[0].anggaran = +belanjaBarang[0].anggaran
  ```
  ---
  ## Split white space
  ```js
  input.split(/[ ,]+/);
  ```
  ---
  ## Penguarangan Tanggal
  ```js
  const date = new Date()
  date.setDate(date.getDate() - 60)
  ```
  ---
  ## Center label disamping / wrap text sesuai dengan yg atas
  ```js
  <View style={{ alignSelf: 'baseline', alignItems: 'center' }}>
      <Text>{anggaranRealisasi.realisasiChart.title}</Text>
      <Text>{anggaranRealisasi.realisasiChart.persen}</Text>
  </View>
  ```
  ---
  ## Sorting
  ```js
  filter.sort((a, b) => a.tanggal - b.tanggal)
  ```
  
  <!-- toc -->
  [toc]
  
  
  <!-- tocstop -->
'''
linesHighlighted: []
isStarred: false
isTrashed: false
